<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>First page</title>
    </head>
    <body>
        <form action="/page.html" method="POST">
            Message: <input type="text" name="message"/>
            <input type="submit" value="Ok"/>
        </form>

        <pre>
        <p>Message: ${message}</p>

        <p>Method: ${method}</p>

        <p>URL: ${URL}</p>

        <p>PathInfo: ${pathInfo}</p>

        <p>SessionId: ${sessionId}</p>

        <p>Parameters: ${parameters}</p>
        </pre>
    </body>
</html>

